.footercolor
{
    background-color:#0CFBE4;
}

.escribenosA
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	color: black;
}

.iconos
{
    color: black;
}
